  body {
      color:#333333;
      background-color:#ffffff;
      font-family:Verdana, Arial, sans-serif;
            
}

/* @media only screen and (max-width: 320px) 
	{
	   body { font-size: 1em; }
	} */
@media (max-width: 320px) {
   body {
      font-size:0.3em;
   }
}
@media (min-width: 321px) and (max-width: 480px) {
   body {
      font-size:0.70em;
   }
}

@media (min-width: 481px) and (max-width: 640px) {
   body {
      font-size:1.0em;
   }
}

@media (min-width: 641px) and (max-width: 950px) {
   body {
      font-size:0.90em;
   }
}

@media (min-width: 951px) and (max-width: 1025px) {
   body {
      font-size:2.0em;
   }
}
@media (min-width: 1025px) and (max-width: 1281px) {
   body {
      font-size:1.2em;
   }
}

/* @media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ body { font-size: 0.9em; }}
@media (min-width:480px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ body { font-size: 0.9em; }}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ body { font-size: 0.9em; }}
@media (min-width:950px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ body { font-size: 0.9em; }}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ body { font-size: 1.2em; }}
@media (min-width:1280px) { /* hi-res laptops and desktops */ body { font-size: 1.3em; }} */
	
table {
       margin-bottom:5pt;
       border-collapse:collapse;
       margin-left:0px;
       margin-top:0.3em;                 
}
tr {
    vertical-align:top;    
}
tr:nth-child(odd) {
                   background-color:#FFFFFF;
                 
}
tr:nth-child(even) {
                    background-color:#F5F5F5;                   
}

th {
    padding:4px;
    text-align:left;
    background-color:#0071C5;
    font-weight:normal;
    margin-top:1px;
    margin-bottom:0px;
    color:#FFFFFF;
    font-size:inherit;
    border:1px #dddddd solid;
    padding-top:2px;
    padding-bottom:0px;
    padding-right:3px;
    padding-left:3px;   
}
th h3 {
       padding:4px;
       text-align:left;
       background-color:#0071C5;
       font-weight:normal;
       margin-top:1px;
       margin-bottom:0px;
       color:#FFFFFF;         
}

td {
	padding:5px;
    border:1px #dddddd solid;
    vertical-align:top;
    text-align:left;
    margin-bottom:0;
    margin-top:0;
    margin-left:0;
    text-align:left;    
    line-height:120%;   
}

:target {
   background-color: #ffa;
}