  body {
      color:#333333;
      background-color:#ffffff;
      font-family:Verdana, Arial, sans-serif;
      font-size:10pt;     
      
		  
}
table {
       margin-bottom:5pt;
       border-collapse:collapse;
       margin-left:0px;
       margin-top:0.3em;
       font-size:10pt;            
}
tr {
    vertical-align:top;
    
}
tr:nth-child(odd) {
                   background-color:#FFFFFF;
                 
}
tr:nth-child(even) {
                    background-color:#F5F5F5;
                   
}
th {
    padding:4px;
    text-align:left;
    background-color:#0071C5;
    font-weight:normal;
    margin-top:1px;
    margin-bottom:0px;
    color:#FFFFFF;
    font-size:inherit;
    border:1px #dddddd solid;
    padding-top:2px;
    padding-bottom:0px;
    padding-right:3px;
    padding-left:3px;   
}
th h3 {
       padding:4px;
       text-align:left;
       background-color:#0071C5;
       font-weight:normal;
       margin-top:1px;
       margin-bottom:0px;
       color:#FFFFFF;
       font-size:inherit;
      
}
td {
    border:1px #dddddd solid;
    vertical-align:top;
    font-size:100%;
    text-align:left;
    margin-bottom:0;
    margin-top:0;
    margin-left:0;
    text-align:left;
    font-size:inherit;
    line-height:120%;   
}

:target {
   background-color: #ffa;
}